.container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  
  .sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    background-color: #0D1117;
  }
  
  .search-bar {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    background: #010409;
  }
  .note-content{
    overflow: auto;
    height: 100vh;
    margin-bottom: 30px;
  }
  .blog-list {
    overflow: auto;
    height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color:#dae0e4 !important;
    --text-color:#eff4f8 !important;
  }
  .titleDiv{
    background-color: #0D1117;
    border: 1px solid #888;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #dae0e4 !important;
    --text-color:#dae0e4;
  }
  .contentDiv {
      color: #8898A1;
      background-color: rgba(13, 17, 23, 0.8); /* 80% opacity */
      border: 1px solid #888;
      padding: 10px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
  }

  .content {
    width: 75%;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .blog-item{
    padding: 10px;
    color: #8898A1;
    cursor: pointer;
    border: 1px solid #555;
    background-color: #151B23;
    border-radius: 10px;
  }
  .blog-item:hover{
    color: #007bff;
    border-radius: 10px;
  }
  .menu-bar{
    padding: 5px 0px;
    width: 100vw;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .currentUser{
    width: 25px;
  }
  .userDiv {
    padding: 10px;
    background: #010409;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    color: white;
    width: 73%;
  }
  .fixed{
    position: fixed;
  }
  .space{
    height: 70px;
  }
  .note-content{
    padding: 20px;
  }
  .whiteText{
    color: white;
  }
  
  /* Reduce the width of the vertical scrollbar */
  ::-webkit-scrollbar {
    width: 6px; /* Adjust as needed */
  }
  
  /* Style the scrollbar track (background) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Style the scrollbar handle (thumb) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* On hover, make the scrollbar darker */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .addNoteForm{
    position: fixed; /* Keeps it on top */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Makes sure it stays above everything */
  }
  .addNoteForm > div {
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow */
    border: 2px solid #555; /* Darker border */
  }
  .w-full{
    width: 95%;
    padding: 10px;
  }
  .search-container {
    display: inline-flex;
    align-items: center;
    margin-right: 3px;
    width: 200px; /* Adjust width as needed */
  }
  
  .search-icon {
    position: absolute;
    left: 18px; /* Adjust position */
    color: #777;
  }
  
  .search-input {
    width: 100%;
    padding: 8px 30px; /* Left padding for icon */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: #dae0e4;
    background-color: #151B23;
  }
  
  .search-input:focus {
    border-color: #007bff;
  }
  .subText{
    color: #007bff;
    text-decoration: none;
  }
  .subText:hover{
    text-decoration: none;
  }
  .mainText:hover{
    color: #007bff;
    text-decoration: underline;
  }
  .formContainer{
    background-color: #010409 !important;
    border: 1px solid #8898A1 !important;
  }
  .three-d-background {
    position: absolute;
    top: 20%;
    right: 0%;
    width: 50vw; /* Set width to 50% of the viewport width */
    height: 50vh; /* Set height to 50% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; /* Keeps it behind the content */
    overflow: hidden;
    border: 1px solid #acabab;
    border-radius: 20px;
}

  